.add-room-card {
    border-radius: 16px;
    height: fit-content;
}

.add-room-card-header {
    background-color: #F4F4F4;
    border-radius: 16px 16px 0 0;
}

.add-room-title {
    color: #00415a;
    font-weight: 600;
}

.add-room-icon {
    color: #00415a;
}

.room-input {
    --mud-palette-primary: #00415a;
}

.add-room-button {
    background-color: #00415a;
    color: white;
}

.room-chip {
    color: #00415a;
    background-color: #F4F4F4;
}

.room-icon {
    color: #00415a;
}

.edit-room-button {
    background-color: #00415a;
    color: white;
}

/* styles for room dialog */

.edit-room-dialog {
    min-width: 400px;
    max-width: 500px;
}

.dialog-title {
    display: flex;
    align-items: center;
    background-color: #F4F4F4;
    color: #00415a;
    margin: -24px -24px 0 -24px;
    padding: 16px 24px;
}

.font-weight-semibold {
    font-weight: 600;
}

.dialog-body {
    padding: 24px 0;
}

.room-info-paper {
    border-left: 4px solid #00415a;
    background-color: #fafafa;
    padding: 16px;
}

.info-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.info-icon,
.info-title {
    color: #00415a;
    font-weight: 600;
}

.room-input {
    --mud-palette-primary: #00415a;
}

.room-alert {
    border-color: #00415a;
    background-color: rgba(0, 65, 90, 0.05);
}

.alert-icon {
    color: #00415a;
}

.dialog-footer {
    background-color: #f5f5f5;
    margin: 0 -24px -24px -24px;
    padding: 16px 24px;
    border-top: 1px solid #e0e0e0;
}

.no-padding {
    padding: 0;
}

.no-transform {
    text-transform: none;
}

.save-button {
    background-color: #00415a;
    color: #F0F0F0;
    text-transform: none;
}

.loader-spinner {
    color: #F0F0F0;
}
